

.service-type-btn{
    transition: .5s;
}
.service-type-btn:hover{
  transition: .5s;
  transform: translateY(-5px); 
  border-color: #dc3545 !important; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important; 
  background-color: #f8f9fa !important;
}

.service-card-btn:hover .icon-container {
  transform: scale(1.1) rotate(5deg);
  background-color: rgba(220, 53, 69, 0.2) !important;
}