.otp-form{
    border:1px solid gray
}
.otp-input:focus {
    border-color: rgb(166, 0, 0)  !important; 
    box-shadow: 0 0 0 0.25rem rgba(58, 14, 14, 0.25) !important;
}
bold {
    cursor: pointer;
}