/* .otp-input {
    width: 70px;
    height: 55px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
} */

.otp-input:focus {
    border-color: rgb(166, 0, 0)  !important; 
    box-shadow: 0 0 0 0.25rem rgba(58, 14, 14, 0.25) !important;
}
bold {
    cursor: pointer;
}